@use 'src/theme';

.Menu {
  z-index: 10;
  position: sticky;
  top: 0;
  padding: 0 20px;
  background-color: theme.$main-accent-color;
  display: flex;
  //height: 30px;
  justify-content: center;
  column-gap: 40px;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}

.SubMenu {
  top: 30px;
}

.Menu .icon{
  display: none;
}

@media screen and (max-width: 768px){
  .MainMenu a:not(.active), .Menu svg.icon {
    display: none;
  }
  .MainMenu svg.icon{
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }
}


.Menu a, .Menu .icon {
  //display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
  /*text-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;*/
}


.Menu .active {
  color: theme.$secondary-accent-color;
}
