* {
  text-align: center;
  min-height: 0px;
  min-width: 0px;
}

body, html{
  margin: 0;
  padding: 0;
}

.article_card_poster {
  object-fit: scale-down;
  margin-top: 0;
  margin-bottom: auto;
  /*min-width: 400px;*/
  width: 50%;
}

.article_card {
  /*border: 1px solid black;*/
  /*margin: 0 0% 0 0%;*/
  width: 80%;
  margin: 50px auto;

}

.article_short_desc, .article_link {
  text-align: justify;
  padding: 5px;
  margin: 20px;
}

.article_link{
}

html {
  background-color: #ffe1e3;
}

nav {
  padding: 0;
  margin: 0;
}

.layout_articles {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

.MainTitle, .article_card_title {
  text-shadow: 1px 1px 1px red,-1px -1px 1px red,-1px 1px 1px red,1px -1px 1px red;
  color: white;
  margin: 0;
  padding: 20px;
  background-color: darkred;
  /*position: fixed;*/
  /*left: 0;*/
}


.App{
  /*position: sticky;*/
  /*top: 0;*/
}

.MainMenu {
  z-index: 10;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0px solid black;
  background: rgb(139,0,0);
  background: linear-gradient(180deg, rgba(139,0,0,1) 0%, rgba(227,0,0,1) 4%, rgba(175,0,12,1) 98%, rgba(108,0,0,1) 100%);
}

.MainMenu ul {
  display: flex;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  margin: 0;
}

.MainMenu ul li {
  /*border: 2px solid pink;*/
}

.MainMenu ul li a {
  text-decoration: none;
  font-size: 24px;
  text-shadow: 1px 1px 1px black,-1px -1px 1px black,-1px 1px 1px black,1px -1px 1px black;
  color: white;

}

.ContentView {
  /*position: relative;*/
  display: flex;
  flex-direction: row;
}

.MainContentView {
  width: 80%;
}
.Sidebar{
  position: sticky;
  top: 34px;
  height: calc(100vh - 34px);
  width: 20%;
  background: rgb(139,0,0);
  background: linear-gradient(270deg, rgba(139,0,0,1) 0%, rgba(227,0,0,1) 4%, rgba(175,0,12,1) 98%, rgba(108,0,0,1) 100%);
}

.containerSlide {
  min-height: 0px;
  min-width: 0px;
}

.footer p{
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(139,0,0);
  background: linear-gradient(0deg, rgba(139,0,0,1) 0%, rgba(227,0,0,1) 4%, rgba(175,0,12,1) 98%, rgba(108,0,0,1) 100%);
}
