* {
  text-align: center;
}

.article_card_poster {
  object-fit: scale-down;
  width: 400px;
  max-width: 50%;
  margin: 5px 5px;
}

.article_card {
  border: 1px solid black;
  margin: 0 0% 0 0%;
  width: 80%;
  margin: auto;

}

.article_short_desc {
  text-align: justify;
  padding: 5px;
}

html {
  background-color: #ffe1e3;
}

nav {
  padding: 0;
  margin: 0;
}

.layout_articles {
  padding: 0;
  margin: 0 0%;
}

nav ul {
  list-style: none;
  padding: 0;
}