@use 'theme.scss';

* {
  text-align: center;
  min-height: 0px;
  min-width: 0px;
  font-family: Roboto, serif;
}

body, html{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
}

nav {
  padding: 0;
  margin: 0;
}

.layout_articles {
  padding: 0;
  margin: 0;
}


nav ul {
  list-style: none;
}

.MainTitle {
  font-size: 3em;
  margin: 0;
  padding: 20px;
}


.App{
}


.ContentView {
  /*position: relative;*/
  display: flex;
  flex-direction: row;
}

.MainContentView {
  /*width: 80%;*/
}
.Sidebar{
  position: sticky;
  top: 34px;
  height: calc(100vh - 34px);
  width: 20%;
  background: white;
  overflow: hidden;
}

.containerSlide {
  min-height: 0px;
  min-width: 0px;
}

.containerSlide img {
  width: 80%;
}

.footer p{
  margin: 1em;
  padding: 0;
  color: black;
  background: white;
}
